body {
  background-color: rgb(255, 247, 201);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

a {
  text-decoration: none;
  color: brown;
}

.first {
  color: red;
}
.second {
  color: blue;
}

#your-name {
  background-color: rgb(255, 220, 105);
  border: 5px solid #444;
}
